<!-- TODO: Mimic the header from the original template -->
<header class="header">
  <div class="container">
    <div class="row">
      <div class="header__wrapper">
        <div class="header__logo">
          <a href="index.html"
            ><img src="assets/img/logo/logo.svg" alt="Insoand Logo" /></a
          >
        </div>
        <div class="header__menu">
          <nav id="offcanvase__menu">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/services">Service</a></li>
              <li><a href="/projects">Projects</a></li>
              <li><a href="/blog">Blog</a></li>
              <li><a href="/contact">Contact</a></li>
              <li class="has-children">
                <a href="#">More</a>
                <ul class="submenu">
                  <li class="has-children">
                    <a href="/team">Team</a>
                    <ul class="submenu">
                      <li><a href="team.html">Team</a></li>
                      <li><a href="team-details.html">Team Details</a></li>
                    </ul>
                  </li>
                  <li class="has-children">
                    <a href="career.html">Career</a>
                    <ul class="submenu">
                      <li><a href="career.html">Career</a></li>
                      <li><a href="career-details.html">Career Details</a></li>
                    </ul>
                  </li>
                  <li><a href="testimonial.html">Testimonial</a></li>
                  <li><a href="pricing.html">Pricing</a></li>
                  <li><a href="faq.html">Faq</a></li>
                  <li><a href="404.html">404</a></li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
        <div class="header__right">
          <div class="header__right--btn">
            <a class="login" href="login.html">Login</a>
            <a class="signup" href="register.html">Sign Up</a>
          </div>
          <button class="menu-icon d-md-block d-lg-none"
            ><i class="fa-sharp fa-solid fa-bars"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
