---
import { Icon } from "astro-icon/components";
import Link from "../components/Link.astro";
import SideSubmenu from "../components/submenus/SideSubmenu.astro";
const LINKS = [
  ["/", "Home"],
  ["/about", "About"],
  ["/services", "Service"],
  ["/projects", "Projects"],
  ["/blog", "Blog"],
  ["/contact", "Contact"],
  // ["/team", "Team"],
  // ["/career", "Career"],
  // ["/testimonial", "Testimonial"],
  // ["/pricing", "Pricing"],
  // ["/faq", "Faq"],
  // ["/not-found", "404"],
];
---

<!-- TODO: Mimic the header from the original template -->
<header class="border-b border-border">
  <div class="max-width">
    <div class="flex justify-between items-center">
      <div class="pr-10 border-r border-border self-stretch flex items-center">
        <a href="/">
          <Icon name="logo" class="w-36 h-10" />
        </a>
      </div>
      <div>
        <nav>
          <ul class="flex">
            {
              LINKS.map(([href, text]) => (
                <li class="py-7 mr-4">
                  <Link href={href}>{text}</Link>
                </li>
              ))
            }
            <li class="py-7 mr-4 group relative">
              <Link
                href="#"
                class="after:content-['+'] after:pl-1 group-hover:after:content-['-']"
                >More</Link
              >
              <ul
                class="opacity-0 transition-all duration-300 absolute invisible bg-primary text-text shadow-lg group-hover:visible group-hover:opacity-100 hover:visible hover:opacity-100 top-20 hover:top-26 group-hover:top-26 min-w-[200px]"
              >
                <SideSubmenu title="Team" href="/team">
                  <a
                    href="/team"
                    class="block hover:bg-linear-(--gr1) py-4 px-5 hover:text-background not-last:border-b-2 border-border"
                    >Team</a
                  >
                  <a
                    href="/team-details"
                    class="block hover:bg-linear-(--gr1) py-4 px-5 hover:text-background not-last:border-b-2 border-border"
                    >Team Details</a
                  >
                </SideSubmenu>
                <SideSubmenu title="Career" href="/career">
                  <a
                    href="/career"
                    class="block hover:bg-linear-(--gr1) py-4 px-5 hover:text-background not-last:border-b-2 border-border"
                    >Career</a
                  >
                  <a
                    href="/career-details"
                    class="block hover:bg-linear-(--gr1) py-4 px-5 hover:text-background not-last:border-b-2 border-border"
                    >Career Details</a
                  >
                </SideSubmenu>
                <a
                  href="/testimonial"
                  class="block hover:bg-linear-(--gr1) py-4 px-5 hover:text-background not-last:border-b-2 border-border"
                  >Testimonial</a
                >
                <a
                  href="/pricing"
                  class="block hover:bg-linear-(--gr1) py-4 px-5 hover:text-background not-last:border-b-2 border-border"
                  >Pricing</a
                >
                <a
                  href="/faq"
                  class="block hover:bg-linear-(--gr1) py-4 px-5 hover:text-background not-last:border-b-2 border-border"
                  >FAQ</a
                >
              </ul>
            </li>
          </ul>
        </nav>
      </div>
      <div class="flex items-center">
        <div class="space-x-4">
          <a
            class="hover:bg-linear-(--gr1) rounded-xl px-5 py-3 hover:text-background transition-all duration-500 ease-in-out border-2 border-border"
            href="/login">Login</a
          >
          <a
            class="gr1 px-5 py-3 bg-linear-(--gr1) rounded-lg text-background"
            href="/register">Sign Up</a
          >
        </div>
        <!-- <button class="menu-icon d-md-block d-lg-none" -->
        <!--   ><i class="fa-sharp fa-solid fa-bars"></i> -->
        <!-- </button> -->
      </div>
    </div>
  </div>
</header>
